@import "partials/base.scss";

$fg-column: 117px;
$fg-gutter: 0px;
$fg-max-columns: 12;
.row{
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);
    width: 100%;
}
h1,h2{
    font-weight: $ultra-light;
}
h1{
    font-size: 14em;
    margin-bottom: 0px;
    line-height: .85em;
}
h2{
    font-size: 9em;
    line-height: .8888em;
    margin-bottom: 0px;
}
.main-content {
    width: flex-grid(12);
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        overflow: hidden;
    }
    figure {
        position: relative;
        overflow: hidden;
        @include transition(all 0.3s ease);
        @include transform(scale (1));
    }
    a:hover>figure {
        @include transform(scale (1.25));
    }
    
    .gmcvb {
        width: flex-grid(7);
        background: rgb(0, 189, 200);
        position: relative;
        overflow: hidden;
        h2{
            font-size: 11em;
            line-height: 0.90em;
        }
        a:hover>.mask {
            background: rgba(1, 183, 193, 0.8);
        }
        img {
            width: auto;
            height: 100%;
            max-height: 708px;
            float: right;
        }
    }

    .bp {
        position: relative;
        background: rgba(200, 200, 200, 0.6);
        max-height: 37em;
        height: 31.3559322034%;
        overflow: hidden;
        img {
            height: auto;
            min-width:322px;
            min-height: 224px;
        }
        a:hover>.mask {
            background: rgba(200, 192, 182, 0.8);
        }
    }

    .usaa {
        position: relative;
        background: rgb(185, 211, 228);
        min-height: 81em;
        height: 68.64406779661016%;
        overflow: hidden;
        figure div:first-child {
            bottom: 0px;
        }
        img {
            width: auto;
            height: 100%;
            max-height: 486px;
            float: right;
        }
        a:hover>.mask {
            background: rgba(185, 211, 228, 0.8);
        }
    }

    .gmcvbmobile {
        position: relative;
        background: rgb(249, 192, 0);
        min-height: 48em;
        height: 40.67796610169492%;
        overflow: hidden;
        img {
            width: auto;
            height: 100%;
            max-height: 288px;
        }
        a:hover>.mask {
            background: rgba(249, 192, 0, 0.8);
        }
    }

    .joingr {
        position: relative;
        background: rgb(214, 25, 5);
        min-height: 70em;
        height: 59.32203389830508%;
        overflow: hidden;
        img {
            float: right;
            width: auto;
            height: 100%;
            max-height: 420px;
        }
        a:hover>.mask {
            background: rgba(214, 25, 5, 0.8);
        }
    }

    .fc {
    	position: relative;
        background: rgba(200, 200, 200, 0.2);
        min-height: 35em;
        height: 29.66101694915254%;
        overflow: hidden;
        img {
            height: auto;
            min-height: 210px;

        }
        a:hover>.mask {
            background: rgba(240,3,60, 0.8);
        }
    }

    .ac {
    	position: relative;
        background: rgb(0,36,69);
        min-height: 35em;
        height: 29.66101694915254%;
        overflow: hidden;

        img {
            height: auto;
            min-height: 210px;
        }
        a:hover>.mask {
            background: rgba(0,36,69, 0.8);
        }
    }
}

@media screen and (min-width: 460px) and (max-width: 839px) {


}
@media screen and (min-width: 0px) and (max-width: 459px) {


}