@import "partials/base.scss";

$fg-column: 117px;
$fg-gutter: 0px;
$fg-max-columns: 12;
.row{
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);
    width: 100%;
}

.main-content {
    width: flex-grid(12);
    position: relative;
    overflow: hidden;
    h1,h2{
    font-weight: $ultra-light;
    }
    h1{
        font-size: 14em;
        margin-bottom: 0px;
        text-transform: uppercase;
        letter-spacing: 0;
        line-height: .85em;
    }
    h2{
        font-size: 8em;
        line-height: .8888em;
        text-transform: uppercase;
        margin-bottom: 0px;
        letter-spacing: 0px
    }
    h6, button{
        font-size: 2em;
        font-weight: $bold-con;
        text-transform: uppercase;
    }
    img {
        width: 100%;
        overflow: hidden;
    }
    figure {
        width: 100%;
        overflow: hidden;
        @include transition(all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1));
        @include transform(scale(1));
        opacity: 1;

    }
    a:hover>figure {
        @include transform(scale(1.1));
        opacity: .5;
        -webkit-filter: blur(2px); 
        -moz-filter: blur(32x); 
        -o-filter: blur(2px); 
        -ms-filter: blur(2px); 
        filter: blur(2px);
    }
    a:hover .btn-home{
        background: rgba(0,0,0, 0.3);
    }
    a:hover .btn-home:before{
        left: 78%;
        opacity: 1;
    }
    article{
        position: relative;
        overflow: hidden;
        header{
            position: absolute;
            padding: 6em;
            height: 70%;
            z-index: 1;
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(flex-start);
            button{
                margin-top: auto;
            }
        }
        figure{
            z-index: 0;
        }
    }
    .gmcvb {
        width: flex-grid(7);
        background: rgb(0, 189, 200);
        img{
            float: right;
        }
    }
    .pair-two{
        width: flex-grid(5);
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(flex-start);
        .bp {
            width: 100%;
            background: rgb(136,129,118);
        }
        .usaa {
            width: 100%;
            background: rgb(140,185,214);
            img {
                max-height: 582px;
                float: right;
            }
        }
    } 
    .gmcvb-mobile {
        width: flex-grid(12);
        background: rgb(249, 192, 0);
        img {
            float: right;
            max-width: 431px;
            padding-right: 15%;
        }
    }
    .ac {
    	width: flex-grid(3);
        background: rgb(0,36,69);
        img {
            float: right;
            max-width: 352px;
        }
    }
    .fc {
        width: flex-grid(3);
        background: rgb(135,136,138);
    }
    .joingr {
        width: flex-grid(6);
        background: rgb(214, 25, 5);
        img {
            float: right;
        }
    }
    
}
@media screen and (max-width:1080px){
    .main-content{
        h1{
            font-size: 10em;
        }
        h2{
            font-size: 6em;
        }
    }
}
@media screen and (max-width: 840px) {
    .main-content{
        > .row:first-child{
            @include flex-direction(column);
            .gmcvb{
                width: flex-grid(12);
                max-height: 400px;
            }
            .pair-two{
                width: flex-grid(12);
            }
        }
        > section:last-child{
            @include flex-direction(none);
            @include flex-flow(row wrap);        
        }
        .gmcvb-mobile{
            img{
                padding-right: 0;
                margin-right: -30%;
            }
        }
        .ac{
            width: flex-grid(6);
        }
        .fc{
            width: flex-grid(6);
        }
        .joingr{
            width: flex-grid(12);
            max-height: 400px;
        }
    }

}
@media screen and (min-width: 0px) and (max-width: 400px){
    .main-content{
        article{
            header{
                padding: 5em 3em;
            }
        }
        .gmcvb{
            img{
                margin-right: -25%;
            }
        }
        .gmcvb-mobile{
            img{
                margin-right: -50%;
            }
        }
    }
}