@import "partials/base.scss";

@import "partials/grid.scss";

//general styles
.videowrapper{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	iframe  {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
 


//Page Styes



.gmcvb{

	> header{
		background: rgb(0, 189, 200);
		@include display(flex);
		@include flex-direction(row);
		@include justify-content(flex-start);
		padding-top: 5em;
		max-height: 123em;
		article{
			width: flex-grid(5);
			padding-top: 10em;
			position: relative;
		}
		figure{
			width: flex-grid(9);
			margin-left: -17.105263157894736%;
			margin-bottom: -5em;
			img{
				float: left;
				width: 128.975%;
				max-width: 1095px;
			}
		}
	}
	.intro-copy{
		padding: 25em 0 10em 0;

		h2{
			width: flex-grid(12);
			text-align: center;
			margin-bottom: 1em;
		}
		> div{
			@include justify-content(center);			
			.innerwrapper{
				width: flex-grid(10);
				@include display(flex);
				@include flex-direction(row);
				p{
					width: flex-grid(5, 10);
					margin-right: flex-gutter(10);
				}
			}
		}
	}
	.mood{
		figure{
			width: flex-grid(8);
			margin-right: flex-gutter();
			img{
				float: right;
				width: 147.34%;
				max-width: 1108px;
			}
		}
		article{
			padding-top: 19em;
			width: flex-grid(4);
			h5{
				color: $bc-grey;
			}
			h2{
				margin-bottom: .5em;
			}
		}
	}
	.sitedesign{
		header{
			height: 125em;
			min-height: 70em;
			width: 100%;
			background: rgb(19,60,75);
			> div article{
				width: flex-grid(2);
				margin-top: 10em;
				margin-bottom: 5em;
				h1{
					margin-bottom: 0px;
					color: $lt-grey;
					text-align: center;
				}
				h4{
					text-transform: uppercase;
					text-align: center;
					color: $lt-grey;
				}
			}
			figure{
				width: flex-grid(12);
				margin-right: -100%;
				margin-top: 26em;
				img{
					float: left;
					margin-left: -55%;
					width: 182.71%;
				}
			}
		}
		> div.row {

			@include justify-content(center);
			figure{
				width: flex-grid(10);
				box-shadow:  0px 6px 8px 0px rgba(0,0,0,0.2);
				margin: 18em 0;
				img{
					max-width: 948px;
				}
			}
		}
	}
	.sub-pg{
		background: rgb(178,170,156) url("../img/texture_20.png") repeat;
		@include display(flex);
		@include flex-direction(column);
		padding-bottom: 20em;
		.row{
			@include justify-content(center);
		}
		.row:first-child figure{
			margin-top: -10em;
			margin-bottom: 7em;
		}
		figure{
			width: flex-grid(10);
			box-shadow:  0px 6px 8px 0px rgba(0,0,0,0.2);
			img{
				max-width: 948px;
			}
		}
		.row:last-child figure{
			width: flex-grid(10);
			box-shadow: none;
			img{
				float: left;
				width: 124.31%;
				max-width: 1149px;
				margin-left: -12%;
			}
		}

	}
	.centerhead{
		width: flex-grid(8);
		@include display(flex);
		@include flex-direction(row);
		margin: 6em 0;
		div{
			width: flex-grid(2, 8);
			margin-right: flex-gutter(8);
			text-align: center;
			text-transform: uppercase;
			h1{
				margin-bottom: 0px;
				color: $lt-grey;
			}
		}
		p{
			padding-top: 9%;
			width: flex-grid(6,8);
		}

	}
	.assets{
		padding: 10em 0;
		header{
			@include display(flex);
			@include flex-direction(row);
			@include justify-content(center);
		}
		> div figure{
			width: flex-grid(12);
		}
	}
	.icons{
		background: rgb(238,178,3) url("../img/texture_50.png") repeat;
		padding: 10em 0;
		header{
			@include display(flex);
			@include flex-direction(row);
			@include justify-content(center);
			p, .gigantic{
				color: $white;
			}
		}

		> div {
			@include display(flex);
			@include flex-direction(row);
			@include align-items(center);
			figure{
			width: flex-grid(4);
			}
		}
	}

}
.joingr{
	> header{
		background: rgb(214,25,5);
		@include display(flex);
		@include flex-direction(row);
		@include justify-content(flex-start);
		max-height: 123em;
		article{
			width: flex-grid(5);
			padding-top: 10em;
			position: relative;
		}
		figure{
			width: flex-grid(9);
			margin-left: -17.105263157894736%;
			img{
				float: left;
				width: 122.52%;
				max-width: 1039px;
			}
		}
	}
	.intro-copy{
		padding: 25em 0 10em 0;

		h2{
			width: flex-grid(12);
			text-align: center;
			margin-bottom: 1em;
		}
		> div{
			@include justify-content(center);			
			.innerwrapper{
				width: flex-grid(10);
				@include display(flex);
				@include flex-direction(row);
				p{
					width: flex-grid(5, 10);
					margin-right: flex-gutter(10);
				}
			}
		}
	}
	.wires{
		background: rgb(213,213,213) url("../img/texture_50.png") repeat;
		padding-top: 6em; 
		article{
			width: flex-grid(2);
			padding-top:15em;
			h1{
				margin-bottom: 0px;
				color: $white;
				text-align: center;
			}
			h4{
				text-transform: uppercase;
				text-align: center;
				color: $hl-grey;
			}
		}
		figure{
			width: flex-grid(10);
			img{
				float: left;
				width: 122.75%;
				max-width: 1160px;
				margin-left: -18%;
			}
		}
	}
	.assets{
		header{
			text-transform: uppercase;
			padding: 6em 0;
			h1{
				margin-bottom: 0px;
				color: $lt-grey;
				text-align: center;
			}
			h4{
				text-align: center;
			}
		}
		> figure{
			width: flex-grid(12);
		}

	}
	.fin-dsgn{
		background: rgb(213,213,213) url("../img/texture_50.png") repeat;
		padding-bottom: 6em;
		header{
			text-transform: uppercase;
			text-align: center;
			padding: 8em 0;
			background: $white;
			h1{
				margin-bottom: 0px;
				color: $lt-grey;
				text-align: center;
			}
		}
		> figure {
			background: url(../img/work-joingr-responsivebg.jpg) no-repeat center center;
			background-size: cover;
			min-height: 46em;
			max-height: 82em;
			width: 100%;
			margin-bottom: 12%;
			> div{
				padding: 6em 0 0 0;
				overflow-y: visible;

			}
		}
		> div *{
			margin-bottom: 5em;
		}
	}
}
.usaa{
	> header{
		background: rgb(185,211,228) url(../img/work-usaa-headbg.png) no-repeat top center;
		@include display(flex);
		@include flex-direction(row);
		@include justify-content(flex-start);
		max-height: 123em;
		article{
			width: flex-grid(5);
			padding-top: 10em;
			position: relative;
		}
		figure{
			width: flex-grid(7);
			img{
				float: left;
				width: 154.96%;
				max-width: 1015px;
			}
		}
	}
	.intro-copy{
		padding: 25em 0 10em 0;

		h2{
			width: flex-grid(12);
			text-align: center;
			margin-bottom: 1em;
		}
		> div{
			@include justify-content(center);			
			.innerwrapper{
				width: flex-grid(10);
				@include display(flex);
				@include flex-direction(row);
				p{
					width: flex-grid(5, 10);
					margin-right: flex-gutter(10);
				}
			}
		}
	}
	.concept{
		padding-bottom: 10em;
		article{
			width: flex-grid(2);
			padding-top: 3em;
			text-transform: uppercase;
			text-align: center;
			h1{
				margin-bottom: 0px;
				color: $lt-grey;
			}
		}
		figure{
			width: flex-grid(12);
			margin-top: 6em;
			img{
				float: left;
				width: 135.52%;
				max-width: 1545px;
				margin-left: -16%;

			}
		}
	}
	.sitedesign{
		background: rgb(248,248,248) url("../img/texture_50.png") repeat;
		padding-bottom: 10em;
		header{
			margin-bottom: 11em;
			article{
			width: flex-grid(2);
			padding-top: 10em;
			text-transform: uppercase;
			text-align: center;
				h1{
					margin-bottom: 0px;
					color: $lt-grey;
				}
			}
			figure{
					width: flex-grid(10);
					margin-top: -9.5em;
					box-shadow:  0px 6px 8px 0px rgba(0,0,0,0.2);
			}
		}
		> div{
			figure{
				width: (12);
			}
		}
	}

}
.ac{
	> header{
		background: rgb(0,0,0) url(../img/work-ac-headerbg.jpg) no-repeat top center;
		@include display(flex);
		@include flex-direction(row);
		@include justify-content(flex-start);
		max-height: 123em;
		article{
			width: flex-grid(5);
			padding-top: 10em;
			position: relative;
		}
		figure{
			width: flex-grid(8);
			margin-left: -17.105263157894736%;
			margin-top: 23em;
			img{
				float: left;
				width: 167.42%;
				max-width: 1259px;
			}
		}
	}
	.intro-copy{
		padding: 25em 0 10em 0;

		h2{
			width: flex-grid(12);
			text-align: center;
			margin-bottom: 1em;
		}
		> div{
			@include justify-content(center);			
			.innerwrapper{
				width: flex-grid(10);
				@include display(flex);
				@include flex-direction(row);
				p{
					width: flex-grid(5, 10);
					margin-right: flex-gutter(10);
				}
			}
		}
	}
	.microsite{
		header{
			article{
				width: flex-grid(2);
				padding-top: 7em;
				text-transform: uppercase;
				text-align: center;
				h1{
					margin-bottom: 0px;
					color: $lt-grey;
				}
			}
			figure{
				width: flex-grid(12);
				margin-left: -20%;
				img{
					float: left;
					width: 123.85%;
					max-width: 1412px;
				}
			}
		}
	}
	.video{
		padding-bottom: 10em;
		header{
			padding: 10em 0;
			article{
				width: flex-grid(2);
				padding-top: 7em;
				text-transform: uppercase;
				text-align: center;
				h1{
					margin-bottom: 0px;
					color: $lt-grey;
				}
			}
		}
		> div{
			margin-bottom: 2.10526%;
		}
		> div:last-child{
			article{
			width: flex-grid(12);
			}
		}
	}
}
.facecard{
	> header{
		@include linear-gradient(90deg, rgb(202,204,207) 0%, rgb(242,243,244) 100%);
		@include display(flex);
		@include flex-direction(row);
		@include justify-content(flex-start);
		max-height: 123em;
		article{
			width: flex-grid(5);
			padding-top: 10em;
			position: relative;
		}
		figure{
			width: flex-grid(8);
			margin-left: -17.105263157894736%;
			img{
				float: left;
				width: 166.23%;
				max-width: 1250px;
			}
		}
	}
	.intro-copy{
		padding: 25em 0 10em 0;

		h2{
			width: flex-grid(12);
			text-align: center;
			margin-bottom: 1em;
		}
		> div{
			@include justify-content(center);			
			.innerwrapper{
				width: flex-grid(10);
				@include display(flex);
				@include flex-direction(row);
				p{
					width: flex-grid(5, 10);
					margin-right: flex-gutter(10);
				}
			}
		}
	}
	.stationary{
		background: rgb(235,235,235);
		padding: 13em 0;
		margin-bottom: 7em;
		> div:first-child{
			@include justify-content(center);	
			margin-bottom: 6em;		
			.innerwrapper{
				width: flex-grid(10);
				@include display(flex);
				@include flex-direction(row);
				.col{
					width: flex-grid(5,10);
					margin-right: flex-gutter(10);
					p{
						margin-top: 1.5em;
					}
				}
				figure{
					img{
						float: left;
						width: 142.20%;
						max-width: 684px;
					}
				}
			}
		}
		> div:last-child{
			figure:first-child{
				width: flex-grid(4);
			}
			figure:last-child{
				width: flex-grid(8);
				img{
					float: left;
					width: 120.21%;
					max-width: 904px;
				}
			}
		}
	}
	.gallery{
		.row{
			margin-bottom: 4em;
			.col{
				width: flex-grid(12);
			}
		}
		.row:last-child{
			.col{
				width: flex-grid(6);
			}
		}
	}
}
.bp{
	> header{
		@include linear-gradient(90deg, rgb(200,193,182) 0%, rgb(196,188,177) 100%);
		@include display(flex);
		@include flex-direction(row);
		@include justify-content(flex-start);
		max-height: 123em;
		article{
			width: flex-grid(5);
			padding-top: 10em;
			position: relative;
		}
		figure{
			width: flex-grid(8);
			margin-left: -17.105263157894736%;
			img{
				float: left;
				width: 160.45%;
				max-width: 1205px;
			}
		}
	}
	.intro-copy{
		padding: 25em 0 10em 0;

		h2{
			width: flex-grid(12);
			text-align: center;
			margin-bottom: 1em;
		}
		> div{
			@include justify-content(center);			
			.innerwrapper{
				width: flex-grid(10);
				@include display(flex);
				@include flex-direction(row);
				p{
					width: flex-grid(5, 10);
					margin-right: flex-gutter(10);
				}
			}
		}
	}
	.type-color{
		header{
			h2{
				width: flex-grid(12);
				text-align: center;
				margin-bottom: 2em;

			}
		}
		.row{
			@include justify-content(center);			
			.innerwrapper{
				width: flex-grid(10);
				@include display(flex);
				@include flex-direction(row);
				.type{
					width: flex-grid(5,10);
					margin-right: flex-gutter(10);
					margin-bottom: 13em;
				}
				.type:last-child, .color:last-child{
					margin-right: 0px;

				}
				.color{
					width: flex-grid(2,10);
					margin-right: flex-gutter(10);
					margin-bottom: 17em;
				}
			}
		}
	}
	.stationary{
		header{
			h2{
				width: flex-grid(12);
				text-align: center;
				margin-bottom: 2em;
			}
		}
		figure{
			width: flex-grid(12);
			img{
				float: left;
				width: 128.42%;
				max-width: 1464px;
				margin-left: -12%;
			}
		}
	}
	.site-design{
		background: rgb(29,163,217);
		padding-bottom: 10em;
		header{
			width:flex-grid(12);
			margin-top: -17em;
			z-index: 2;
		}
		article{
			width: flex-grid(8);
			margin: 0 auto;
			text-align: center;
			h1{
				margin-top: -.5em;
				color: $white;
				margin-bottom: 0;
				text-transform: uppercase;
			}
			p{
				margin-top: 1.5em;
			}

		}
		figure{
			width:flex-grid(12);
		}

	}
}
.gmcvbmobile{
	padding-bottom: 10em;
	> header{
		@include linear-gradient(0deg, rgb(229,146,0) -40%, rgb(249,192,0) 100%);
		@include display(flex);
		@include flex-direction(row);
		@include justify-content(flex-start);
		max-height: 123em;
		article{
			width: flex-grid(5);
			padding-top: 10em;
			position: relative;
		}
		figure{
			width: flex-grid(8);
			margin-left: -10%;
			img{
				float: left;
				width: 179.22%;
				max-width: 1346px;
			}
		}
	}
	.intro-copy{
		padding: 25em 0 10em 0;

		h2{
			width: flex-grid(12);
			text-align: center;
			margin-bottom: 1em;
		}
		> div{
			@include justify-content(center);			
			.innerwrapper{
				width: flex-grid(10);
				@include display(flex);
				@include flex-direction(row);
				p{
					width: flex-grid(5, 10);
					margin-right: flex-gutter(10);
				}
			}
		}
	}
	.homepage{
		background: rgb(248,248,248);
		padding-bottom: 12em;
		header{
			margin-top: 14em;
			margin-bottom: 7em;
			figure{
				width: flex-grid(6);
				margin-right: flex-gutter();
				margin-top: -14em;
				img{
					width: 100%;
					max-width: 497px;
				}
			}
			article{
				width: flex-grid(5);
				padding-top: 20%;
				p{
					margin-top: 1.5em;
				}
			}
		}
		article{
			figure{
				width: flex-grid(12);
				img{
					float: left;
					width: 111.05%;
					max-width: 1266px;
					margin-left: -6%;
				}
			}
		}
	}
	.multi{
		margin-top: 10em;
		figure{
			width: flex-grid(12);
			img{
				float: left;
				width: 119.47%;
				max-width: 1362px;
				margin-left: -10%;
			}
		}
	}
	.multi:last-child{
		figure{
			@include display(flex);
			@include justify-content(center);
			img{
				float: none;
				width: 100%;
				max-width: 925px;
				margin: 0 auto;
			}
		}
	}
	.hand{
		
		background: url(../img/work-gmcvbmobile-phone4bg.jpg) no-repeat center center;
		background-size: cover;
		>div{
			min-height: 50em;
			max-height: 131em;
			padding-top: 10%;
			@include justify-content(flex-end);
			@include flex-direction(column);
		}
		figure{
			@include align-self(flex-end);
			width: flex-grid(9);
			img{
				width: 100%;
				max-width: 802px;
			}
		}
	}
}